section.product
   div.container
      h3.product__title.
         Latest Products
      h5.product__undertitle.
         Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta consequuntur ipsum <br> ratione quia tenetur, qui voluptate eligendi impedit laboriosam rem.
                 
      div.product__wrap
         div.product__item
            div.product__item_img
               img(src="./img/product1.jpg", alt="")
            h4.product__item_title
               a(href="#") Worspaces
               span Managment
            p.product__item_txt.
               Lorem ipsum dolor sit amet consectetur adipiscing elit sed tempor incdidunt ut laboret dolor magna ut <br> consequat siad esqudiat dolor
            a(href="#", class="product__link") read more
               
//               <div class="product__item">
//                  <div class="product__item_img"><img src="./img/product2.jpg" alt=""></div>
//                  <h4 class="product__item_title"><a href="">Minimalism</a><span>development</span></h4>
//                  <p class="product__item_txt">Lorem ipsum dolor sit amet consectetur adipiscing elit sed tempor incdidunt ut laboret dolor magna ut
//                     <br> consequat siad esqudiat dolor</p> <a href="#" class="product__link">read more</a> </div>
//               <div class="product__item">
//                  <div class="product__item_img"><img src="./img/product3.jpg" alt=""></div>
//                  <h4 class="product__item_title"><a href="">Client Style</a><span>design</span></h4>
//                  <p class="product__item_txt">Lorem ipsum dolor sit amet consectetur adipiscing elit sed tempor incdidunt ut laboret dolor magna ut
//                     <br> consequat siad esqudiat dolor</p> <a href="#" class="product__link">read more</a> </div>
//         
        